<a href="https://colab.research.google.com/github/Mohamed-derbeli/Machine-Learning-Projects/blob/main/Stock_Price_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Stock Price Prediction**


*   In this project, we will be talking about predicting the returns on stocks. 
*   We will predict the stock price using the LSTM neural network.
*   The data contains records about the stock price of Tata Global Beverages Limited. The dataset also contains a date-wise price of stock with open, close, high, and low prices along with volume traded as well as turnover on that day.

### 2.    Installing

In [22]:
# !sudo apt-get install python3-dev default-libmysqlclient-dev
# !pip install pymysql
!pip install mysql-connector-python

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.7/dist-packages (8.0.29)
Requirement already satisfied: protobuf>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mysql-connector-python) (3.17.3)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)

### 1.    Imports

In [23]:
import os
import mysql.connector
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib.pylab import rcParams
rcParams['figure.figsize']=20,10
from keras.models import Sequential
from keras.layers import LSTM,Dropout,Dense
from sklearn.preprocessing import MinMaxScaler

### 3. Connection to mysql server

In [46]:
# Set environment variables
os.environ['DB_USER'] = input("Enter the username of the environment variable:")
os.environ['DB_PASSWORD'] = input("Enter the password of the environment variable:")

# Get environment variables
user_name = os.environ.get('DB_USER')
password = os.environ.get('DB_PASSword')

In [57]:
mydb = mysql.connector.connect(
                      host = "localhost",
                      user = user_name,
                      password = password,
                      port = 3306,
                      database = 'schema_2_'
                    )
print(mydb)

DatabaseError: ignored

## 2.   Read the dataset: