In [3]:
import os
from sqlalchemy import create_engine

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib.pylab import rcParams
rcParams['figure.figsize']=20,10

In [4]:
# DEFINE THE DATABASE CREDENTIALS
user = 'mohamed_derbeli'
password = 'Med_21104924'
host = 'localhost'
port = 3306
database = 'schema_2_'
  
# PYTHON FUNCTION TO CONNECT TO THE MYSQL DATABASE AND
engine= create_engine(url="mysql+pymysql://{0}:{1}@{2}:{3}/{4}".format(user, password, host, port, database))
connection=engine.connect()

In [5]:
query = """SELECT * FROM schema_2_.Stock_Price_Predicton;"""

df = pd.read_sql(query, con=connection)

In [6]:
df.head()

,Date,Open,High,Low,Last,Close,Total_Trade_Quantity,Turnover_Lacs
0,2013-10-08,157.00,157.80,155.20,155.8,155.80,1720413.0,2688.94
1,2013-10-09,155.70,158.20,154.15,155.3,155.55,2049580.0,3204.49
2,2013-10-10,156.00,160.80,155.85,160.3,160.15,3124853.0,4978.80
3,2013-10-11,161.15,163.45,159.00,159.8,160.05,1880046.0,3030.76
4,2013-10-14,160.85,161.45,157.70,159.3,159.45,1281419.0,2039.09